@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

body {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat
}